@if (ViewBag.Status != null)
{
  <div class="alert alert-success" role="alert" id="divStatus">
    <strong>Resultado:</strong> @ViewBag.Status
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}
